.d-flex {
    display: flex !important;
}
.center {
    justify-content: center !important;
    align-items: center !important;
}
.p-absolute {
    position: absolute !important;
}
.p-relative {
    position: relative !important;
}
.invisible {
    opacity: 0 !important;
}
.visible {
    opacity: 1 !important;
}
.w-100 {
    width: 100% !important;
}
ion-content { --background: transparent;}
ion-toolbar {
    --background: rgba(0, 0, 0, 0.25);
}

.heading {
    border-bottom: 4px solid #710cd6;
    margin-left:10px;
    padding-bottom: 5px;
}